.nav-link.menu {
  color: #9b9b9c;
  font-weight: 900;
}
.nav-link.contactno {
  color: #000;
  font-weight: 900;
}
.contactus {
	color: #3aa9df;
}
li.nav-item.menu {
	display: inline-block;
    margin-right:30px;
}
li.nav-item.contact {
	display: inline-block;
    margin-right:30px;
}
.heading.services {
	font-weight: 900;
	font-size: 18px;
	padding-bottom: 5px;
    padding-top: 5px;
    letter-spacing: 1px;
}
.content.services {
	text-align: left;
	color: #9b9b9c;
	font-weight: 900;
	font-size: 15px;
	letter-spacing: 0.2px;
}
.list-group.list-group-flush.jobs {
	text-align: left;
}
.nav-link.anchor {
  color: #999;
  text-align: left;
}